
* {
	box-sizing: border-box;
}


body {
	font-family: 'Muli', sans-serif;
	background-color: #f6f6f6;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin-left: 50px;
}

body { padding: 1rem; }





.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;

}

.close:hover,
.close:focus {
	color:black;
	text-decoration: none;
	cursor: pointer;
}

body::-webkit-scrollbar {
	width: 13px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
	background: transparent;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
	background-color: #ff6e1e;    /* color of the scroll thumb */
	border-radius: 20px;       /* roundness of the scroll thumb */
	border: 3px solid #ff6e1e;  /* creates padding around scroll thumb */
  }

